<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aeon_shopping_kotlin">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/aeon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/aeon_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AEON_Shopping_kotlin">
        <activity
            android:name=".Food_Content"
            android:exported="false" />
        <activity
            android:name=".Scanner"
            android:exported="false" />
        <activity
            android:name=".Nav_Control"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>